<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/nav') %>

    <!-- Blog Cards -->
    <div class="container mt-4">
      <% blog.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img
          style="max-height: 180px; object-fit: cover; overflow: hidden"
          src="<%= blog.coverImageURL %>"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%=blog._id %>" class="btn btn-primary">Read</a>
        </div>
      </div>
      <% }) %>
    </div>

    <%- include('partials/script') %>
  </body>
</html>
